<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="col-md-4 bg-white ">
      <div class=" row border-bottom padding-sm" style="height: 40px;">Mes conversations</div>

      <!-- Liste historique -->
      <ul class="friend-list">
        <li class="active bounceInDown">
          <a href="#" class="clearfix">
            <!--img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle"-->
            <div class="friend-name">
              <strong>User 1</strong>
            </div>
            <div class="last-message text-muted">Test ?</div>
            <small class="time text-muted">Temps</small>
            <small class="chat-alert label label-danger">1</small>
          </a>
        </li>
        <li>
          <a href="#" class="clearfix">
            <!--img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle"-->
            <div class="friend-name">
              <strong>User 2</strong>
            </div>
            <div class="last-message text-muted"></div>
            <small class="time text-muted">Temps</small>
            <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
          </a>
        </li>
        <li>
          <a href="#" class="clearfix">
            <div class="friend-name">
              <strong>User 2</strong>
            </div>
            <div class="last-message text-muted"></div>
            <small class="time text-muted">Hier</small>
            <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
          </a>
        </li>
        <li>
          <a href="#" class="clearfix">
            <div class="friend-name">
              <strong>User 2</strong>
            </div>
            <div class="last-message text-muted"></div>
            <small class="time text-muted">Hier</small>
            <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
          </a>
        </li>
        <li>
          <a href="#" class="clearfix">
            <div class="friend-name">
              <strong>Kate</strong>
            </div>
            <div class="last-message text-muted"></div>
            <small class="time text-muted">Hier</small>
            <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
          </a>
        </li>
        <li>
          <a href="#" class="clearfix">
            <div class="friend-name">
              <strong>User 2</strong>
            </div>
            <div class="last-message text-muted"></div>
            <small class="time text-muted">Hier</small>
            <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
          </a>
        </li>
        <li>
          <a href="#" class="clearfix">
            <div class="friend-name">
              <strong>User 2</strong>
            </div>
            <div class="last-message text-muted"></div>
            <small class="time text-muted">Hier</small>
            <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
          </a>
        </li>
        <li>
          <a href="#" class="clearfix">
            <div class="friend-name">
              <strong>User 1</strong>
            </div>
            <div class="last-message text-muted"></div>
            <small class="time text-muted">temps</small>
            <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
          </a>
        </li>
      </ul>
    </div>

    <!-- Conversatio en cours -->
    <div class="col-md-8 bg-white ">
      <div class="chat-message">
        <ul class="chat">
          <li class="left clearfix">
                    	<span class="chat-img pull-left">
                    		<!--img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar"-->
                    	</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">User 1</strong>
                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> temps</small>
              </div>
              <p></p>
            </div>
          </li>
          <li class="right clearfix">
                    	<span class="chat-img pull-right">
                    		<!--img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar"-->
                    	</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">User 2</strong>
                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> temps</small>
              </div>
              <p></p>
            </div>
          </li>
          <li class="left clearfix">
                        <span class="chat-img pull-left">
                    		<!--img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar"-->
                    	</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">User 1</strong>
                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>temp</small>
              </div>
              <p></p>
            </div>
          </li>
          <li class="right clearfix">
                        <span class="chat-img pull-right">
                    		<!--img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar"-->
                    	</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">User 2</strong>
                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> temps</small>
              </div>
              <p></p>
            </div>
          </li>
          <li class="left clearfix">
                        <span class="chat-img pull-left">
                    		<!--img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar"-->
                    	</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">User 1 </strong>
                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> temps</small>
              </div>
              <p></p>
            </div>
          </li>
          <li class="right clearfix">
                        <span class="chat-img pull-right">
                    		<!--img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar"-->
                    	</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">User 2</strong>
                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
              </div>
              <p></p>
            </div>
          </li>
          <li class="right clearfix">
                        <span class="chat-img pull-right">
                    		<!--img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar"-->
                    	</span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">User 2</strong>
                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> temps</small>
              </div>
              <p></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="chat-box bg-white">
        <div class="input-group">
          <input class="form-control border no-shadow no-rounded" placeholder="Ecrivez votre message">
          <span class="input-group-btn">
            			<button class="btn btn-success no-rounded" type="button">Envoyer</button>
            		</span>
        </div>
      </div>
    </div>
  </div>
</div>
