<div class="container-fluid">
  <div *ngIf="groups" class="row">
    <div class="col-4 p-0">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Nouveau message</button>
      <div class="card">
        <div class="group card-body">
          <div *ngIf="groups.length === 0">
            <p>Aucune conversation ...</p>
          </div>
          <group *ngFor="let group of groups" [group]="group"></group>
        </div>
      </div>
    </div>
    <div class="col p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>