.container {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  text-align: right;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}