<section class="chat">
  <div class="header-chat">
    <i class="icon fa fa-user-o" aria-hidden="true"></i>
    <p class="name">Nom du contact</p>
    <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
  </div>
  <div class="messages-chat">
    <div class="message">
      <div class="photo" style="">
        <div class="online"></div>
      </div>
      <p class="text"> Message reçu 1 </p>
    </div>
    <p class="time"> Heure du message reçu 1</p>
    <div class="message text-only">
      <div class="response">
        <p class="text"> Message envoyé 1</p>
      </div>
    </div>
    <p class="response-time time"> Heure du message envoyé 1</p>

  <div class="footer-chat">
    <input type="text" class="write-message" placeholder="Écrivez votre message .."></input>
    <button>Envoyer</button>
  </div>
</section>
